.general-ex {
    background-color: rgb(248, 249, 252);
}

.general-ex .slick-slide {
    transform: scale(0.8); 
    opacity: 0.5; 
    transition: all 0.3s ease; 
}
  
.general-ex .slick-center {
    transform: scale(1);
    opacity: 1;
}

.package-slide{ 
    color: rgb(75 85 99 / var(--tw-text-opacity)) !important;
}

@media screen and (max-width: 768px) {
    .general-ex .slick-slide {
        transform: scale(0.9); 
        opacity: 0.8;
    }

    .general-ex .slick-center {
        transform: scale(1);
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .general-tilte a {
        font-size: 14px;
    }
  }

@media (max-width: 768px) {
    .general-category a {
        font-size: 16px;
    }
    .general-category span {
        font-size: 14px;
    }
  }
