.full-home {
    background-image: linear-gradient(
        to bottom,
        white,
        #f8f9fc
    );
}

.home-specialty {
    height: 380px;
    padding-top: 50px;
  }
  
  .home-specialty .slick-list {
    margin: 0 auto;
    width: 90%;
  }
  
  .home-specialty .slick-prev {
    left: 0 !important;
    z-index: 200;
  }

  .slick-prev {
    width: 11%;
  }

  .slick-next {
    width: 11%;
  }
  
  .home-specialty .slick-prev::before {
    color: slategray !important;
    font-size: 25px;
  }
  
  .home-specialty .slick-next {
    right: 0 !important;
    z-index: 200;
  }
  
  .home-specialty .slick-next::before {
    color: slategray !important;
    font-size: 25px;
  }

  .home-specialty .card-img {
    border-radius: 20px;
    padding: 5px;
  }
  .home-title {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
  }
  
  .home-title h3 {
    font-weight: bold;
    margin: 0;
  }
  
  .home-title a {
    text-decoration: none;
    position: absolute;
    transform: translateY(-50%);
  }
  @media (max-width: 768px) {
    .home-title a {
      right: 15px;
      font-size: 14px;
    }
  }
  
  .home-title a:hover {
    text-decoration: underline;
  }
  
