.breadcrumb {
    background-color: white;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.875rem;
    color: #6b7280; 
  }
  
  .breadcrumb a {
    text-decoration: none;
    color: rgb(29, 78, 216);
  }
  

  
  .breadcrumb span {
    font-weight: 500;
    color: #374151; 
  }
  