<<<<<<< HEAD

nav {
    background: linear-gradient(to bottom, #2563eb, #3b82f6);
=======
nav {
    background-color: transparent; 
>>>>>>> 5b32443e327eca90e00ad544144665dbb60ca53e
    background-image: url('../../assets/backgound.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
}
